In [1]:
#import libraries
import os
import glob
import pandas as pd

In [2]:
path = os.getcwd()
print(path)

c:\Users\AkhilVNairNair\Desktop\Data_Science_Project

In [3]:
filepath = path + "/taxi_trips/"
csv_files = glob.glob(os.path.join(filepath, "*.csv"))
print(csv_files)

['c:\\Users\\AkhilVNairNair\\Desktop\\Data_Science_Project/taxi_trips\\2017_taxi_trips.csv', 'c:\\Users\\AkhilVNairNair\\Desktop\\Data_Science_Project/taxi_trips\\2018_taxi_trips.csv', 'c:\\Users\\AkhilVNairNair\\Desktop\\Data_Science_Project/taxi_trips\\2019_taxi_trips.csv', 'c:\\Users\\AkhilVNairNair\\Desktop\\Data_Science_Project/taxi_trips\\2020_taxi_trips.csv']

In [4]:
taxi_data = [pd.read_csv(file, low_memory=False) for file in csv_files]
taxi_data = pd.concat(taxi_data)
print(taxi_data.head())
taxi_data.shape

   VendorID     lpep_pickup_datetime    lpep_dropoff_datetime  \
0       1.0  2017-01-01 09:00:01.000  2017-01-01 09:03:56.000
1       1.0  2017-01-01 18:57:55.000  2017-01-01 19:01:16.000
2       2.0  2017-01-02 06:55:47.000  2017-01-02 06:58:54.000
3       2.0  2017-01-02 14:34:17.000  2017-01-02 14:39:29.000
4       1.0  2017-01-03 06:12:30.000  2017-01-03 06:15:56.000

  store_and_fwd_flag  RatecodeID  PULocationID  DOLocationID  passenger_count  \
0                  N         1.0            74            41              1.0
1                  N         1.0            42            41              1.0
2                  N         1.0            42            41              1.0
3                  N         1.0            74            41              1.0
4                  N         1.0            42            41              1.0

   trip_distance  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0            0.7          5.0    0.0      0.5         0.0           0.0
1            0.7          5.0    0.0      0.5         0.0           0.0
2            0.7          5.0    0.0      0.5         0.0           0.0
3            0.7          5.0    0.0      0.5         0.0           0.0
4            0.7          5.0    0.0      0.5         0.0           0.0

   improvement_surcharge  total_amount  payment_type  trip_type  \
0                    0.3           5.8           2.0        1.0
1                    0.3           5.8           2.0        1.0
2                    0.3           5.8           2.0        1.0
3                    0.3           5.8           2.0        1.0
4                    0.3           5.8           2.0        1.0

   congestion_surcharge
0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN

(28326071, 19)

In [5]:
taxi_data.dtypes

VendorID                 float64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID               float64
PULocationID               int64
DOLocationID               int64
passenger_count          float64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
payment_type             float64
trip_type                float64
congestion_surcharge     float64
dtype: object

In [6]:
#missing values in each column
taxi_data.isnull().sum()

VendorID                   942199
lpep_pickup_datetime            0
lpep_dropoff_datetime           0
store_and_fwd_flag         942199
RatecodeID                 942199
PULocationID                    0
DOLocationID                    0
passenger_count            942199
trip_distance                   0
fare_amount                     0
extra                           0
mta_tax                         0
tip_amount                      0
tolls_amount                    0
improvement_surcharge           2
total_amount                    0
payment_type               942199
trip_type                  942653
congestion_surcharge     22036551
dtype: int64

In [9]:
#values in "store and fwd column"
taxi_data["store_and_fwd_flag"].unique()

array(['N'], dtype=object)

In [8]:
#Keeping trips that were not sent via "store and forward"
taxi_data = taxi_data[taxi_data["store_and_fwd_flag"]=="N"]
taxi_data.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,1.0,2017-01-01 09:00:01.000,2017-01-01 09:03:56.000,N,1.0,74,41,1.0,0.7,5.0,0.0,0.5,0.0,0.0,0.3,5.8,2.0,1.0,NaN
1,1.0,2017-01-01 18:57:55.000,2017-01-01 19:01:16.000,N,1.0,42,41,1.0,0.7,5.0,0.0,0.5,0.0,0.0,0.3,5.8,2.0,1.0,NaN
2,2.0,2017-01-02 06:55:47.000,2017-01-02 06:58:54.000,N,1.0,42,41,1.0,0.7,5.0,0.0,0.5,0.0,0.0,0.3,5.8,2.0,1.0,NaN
3,2.0,2017-01-02 14:34:17.000,2017-01-02 14:39:29.000,N,1.0,74,41,1.0,0.7,5.0,0.0,0.5,0.0,0.0,0.3,5.8,2.0,1.0,NaN
4,1.0,2017-01-03 06:12:30.000,2017-01-03 06:15:56.000,N,1.0,42,41,1.0,0.7,5.0,0.0,0.5,0.0,0.0,0.3,5.8,2.0,1.0,NaN

In [10]:
#Keep trips where trip type is Street Hailed, i.e "1"
taxi_data = taxi_data[taxi_data["trip_type"]==1.0]
taxi_data.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,1.0,2017-01-01 09:00:01.000,2017-01-01 09:03:56.000,N,1.0,74,41,1.0,0.7,5.0,0.0,0.5,0.0,0.0,0.3,5.8,2.0,1.0,NaN
1,1.0,2017-01-01 18:57:55.000,2017-01-01 19:01:16.000,N,1.0,42,41,1.0,0.7,5.0,0.0,0.5,0.0,0.0,0.3,5.8,2.0,1.0,NaN
2,2.0,2017-01-02 06:55:47.000,2017-01-02 06:58:54.000,N,1.0,42,41,1.0,0.7,5.0,0.0,0.5,0.0,0.0,0.3,5.8,2.0,1.0,NaN
3,2.0,2017-01-02 14:34:17.000,2017-01-02 14:39:29.000,N,1.0,74,41,1.0,0.7,5.0,0.0,0.5,0.0,0.0,0.3,5.8,2.0,1.0,NaN
4,1.0,2017-01-03 06:12:30.000,2017-01-03 06:15:56.000,N,1.0,42,41,1.0,0.7,5.0,0.0,0.5,0.0,0.0,0.3,5.8,2.0,1.0,NaN

In [12]:
#Keeping trips where payment type is equal to Card-1 or Cash-2
taxi_data = taxi_data[taxi_data["payment_type"].isin([1.0,2.0])]
taxi_data["payment_type"].unique()

array([2., 1.])

In [13]:
#Keeping trips where RatecodeID is equal to Standard Rate-1
taxi_data = taxi_data[taxi_data["RatecodeID"]==1.0]
taxi_data.shape

(26291421, 19)

In [15]:
#Checking for unknown zones in Pickup(removing 264 and 265)
taxi_data = taxi_data[taxi_data["PULocationID"]!=264]
taxi_data["PULocationID"].unique()

array([ 74,  42,  41,  75, 152, 166,  24,  80,  82,  97,  33, 168, 159,
       226, 255,  61,  40,   7,  52, 260, 119, 223, 130, 116,  43,  95,
       189, 181, 112, 242,  83,  65, 244, 263, 129,  25, 145, 188,  62,
       228,  76, 146, 247, 108, 236,  20, 167, 134, 182, 256, 225,  66,
       173, 179,  56,  47, 220, 217,  69,  36,  17,  49,  89, 248, 210,
       243, 177, 196, 174,  37, 106, 212,  70,  35, 235,  22, 126,  31,
       197,  18, 193,  32,  39,  92,  91,  71,  57, 241,  28, 213, 121,
        72, 160, 250, 165, 127, 131, 153,  54, 147, 169,  77,  85, 227,
       123,  14, 257,  60, 202,  93, 195, 135,  26, 185,  55,  11, 259,
       190, 136,  94, 198,  34,  78, 171,  51,  73, 215,  16, 149, 258,
       254,  19, 138,  29, 191, 184, 200, 192, 157, 216, 120, 155,  21,
       175, 101, 180, 240, 150,  63, 102,  59, 122, 128, 262,  53,   3,
       111, 183, 208, 133,  98, 132, 205, 234,  81, 207,  86,  10, 154,
        67, 252,  96,   8, 209, 219, 124, 178, 140, 194,   9, 139, 218,
       222, 253, 239,  15, 221, 151,  38, 141, 117, 232, 156,   6, 163,
       203,  46,   1,  58, 214, 170,  44, 158, 231, 172, 201, 148, 137,
       230,  68, 144,  48, 206, 107, 115, 164, 113, 142, 161,  87, 100,
       237,  90,  50, 238,  79, 233, 162, 186, 261, 229, 249, 143, 246,
       211,  13,  64, 125, 114, 109,   4, 118, 251,  88,  45, 187,  84,
       245,  23,  27,   2, 176, 224,  12,  99, 204,   5,  30, 199, 105],
      dtype=int64)

In [17]:
#Checking for unknown zones in Dropoff(removing 264 and 265)
taxi_data = taxi_data[taxi_data["DOLocationID"]!= 264]
taxi_data["PULocationID"].unique()

array([ 74,  42,  41,  75, 152, 166,  24,  80,  82,  97,  33, 168, 159,
       226, 255,  61,  40,   7,  52, 260, 119, 223, 130, 116,  43,  95,
       189, 181, 112, 242,  83,  65, 244, 263, 129,  25, 145, 188,  62,
       228,  76, 146, 247, 108, 236,  20, 167, 134, 182, 256, 225,  66,
       173, 179,  56,  47, 220, 217,  69,  36,  17,  49,  89, 248, 210,
       243, 177, 196, 174,  37, 106, 212,  70,  35, 235,  22, 126,  31,
       197,  18, 193,  32,  39,  92,  91,  71,  57, 241,  28, 213, 121,
        72, 160, 250, 165, 127, 131, 153,  54, 147, 169,  77,  85, 227,
       123,  14, 257,  60, 202,  93, 195, 135,  26, 185,  55,  11, 259,
       190, 136,  94, 198,  34,  78, 171,  51,  73, 215,  16, 149, 258,
       254,  19, 138,  29, 191, 184, 200, 192, 157, 216, 120, 155,  21,
       175, 101, 180, 240, 150,  63, 102,  59, 122, 128, 262,  53,   3,
       111, 183, 208, 133,  98, 132, 205, 234,  81, 207,  86,  10, 154,
        67, 252,  96,   8, 209, 219, 124, 178, 140, 194,   9, 139, 218,
       222, 253, 239,  15, 221, 151,  38, 141, 117, 232, 156,   6, 163,
       203,  46,  58, 214, 170,  44, 158, 231, 172, 201, 148, 137, 230,
        68, 144,  48, 206, 107, 115, 164, 113, 142, 161,  87, 100, 237,
        90,  50, 238,  79, 233, 162, 186, 261, 229, 249, 143, 246, 211,
        13,  64, 125, 114,   1, 109,   4, 118, 251,  88, 187,  84, 245,
        23,  27,  45,   2, 176, 224,  12,  99, 204,   5,  30, 199, 105],
      dtype=int64)

In [19]:
taxi_data["passenger_count"].unique()

array([1., 2., 5., 6., 3., 4., 0., 9., 7.])

In [24]:
taxi_data.shape

(26215073, 19)

In [25]:
taxi_data.to_csv("all_trips.csv")